@model IEnumerable<ToDoApp.Data.ToDoList>

@{
    ViewData["Title"] = "Users Lists";
}
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users Lists</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ToDoLists" asp-action="Create" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New List
            </a>
        </div>
    </div>
</div>

<table class="table table-primary table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="bi bi-file-text"></i> Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
